ul{
    list-style-type:none;
    margin:10px;
    padding:0;
    width: 200px;
    
}

li a {
    display: block;
    width: 60px;
    margin : 10px;
}

ul li {
    display : table-cell;
    width: 50%;
    border: 1px solid mintcream;
}

li img {
    width: 200;
    padding: 10px 10px 10px 10px;
    border: 1px solid gray;
    margin : 0 10px;
}

